
html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    // scroll-behavior: smooth;
}

.wrapper {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
}

h1,
p,
a,
[type=submit] {
    font-family: 'McLaren', cursive;
    text-transform: uppercase;
    text-decoration-style: none;
}

h1 {
    font-size: clamp(2.75rem, 3.5vw, 7rem);
    padding-bottom: 15px;
}

h2,
label {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: clamp(1.6rem, 2vw, 3rem);
    text-transform: lowercase;
    font-weight: 300;
    padding-bottom: 20px;
}

label {
    font-size: clamp(1.7rem, 2vw, 2.4rem);
    text-transform: uppercase;
}

p {
    font-size: clamp(2.5rem, 2.3vw, 4rem);
    font-weight: 300;
    line-height: 1.6;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    img {
        width: 275px;
        margin-right: 30px;
    }
    .headerText {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
    }
}

[type=submit],
.nextButtons {
    font-size: clamp(1.5rem, 2vw, 1.8rem);
    width: 200px;
    border-radius: 5px;
    padding: 15px;
    background-color: $primary;
    color: #fff;
    text-decoration: none;
    text-align: center;
    box-shadow: 5px 5px $secondary;
}

label,
[type=submit],
a {
    &:hover {
        // from emojicursor.app* - Made by Kyle Kelly
        cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥟</text></svg>") 16 0,auto;
    }
}

input,
[type=submit],
a {
    border: 3px solid transparent;
    &:hover {
        transform: scale(1.1);
    }
    &:focus {
        border: 3px solid $accent;
        outline: none;
    }
}

section:nth-of-type(odd) {
    background-color: $primary;
    color: #fff;
    a {
        background-color: #fff;
        color: $primary;
    }
}

.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    div {
        padding: 20px;
    }
}

.checkContainer {
    display: flex;
}

.errorMessage {
    display: none;
    color: $accent;
}

.results {
    display: none;
    padding: 100px;
    .tryAgain {
        text-align: right;
    }
}

.countries {
    padding: 0px 0px 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .countriesFlex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30px;
        max-width: 600px;
        margin: 0 auto;
    }
    label {
        padding: 15px 30px;
        margin: 10px;
        border-radius: 5px;
        padding: 15px 30px;
        background-color: $secondary;
        color: $primary;
        text-align: center;
    }
    input {
        opacity: 0;
        &:focus + label {
            background: $light;
        }
        &:active + label {
            background: $dark;
        }
    }   
}

.finalDumpling {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    a {
        font-size: clamp(4rem, 5vw, 5rem);
        text-shadow: 3px 3px $accent;
        text-decoration: none;
        padding: 10px 0px;
        width: auto;
        display: block;
    }
    .finalIntro {
        font-size: clamp(1.6rem, 2vw, 2.5rem);
    }
}

.addBg {
    border: 3px solid $secondary;
    background-color: $light;
    border-radius: 15px;
    padding: 15px 25px;
    color: $primary;
}

