
html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    // scroll-behavior: smooth;
}

.wrapper {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
}

h1,
p,
a,
[type=submit] {
    font-family: 'McLaren', cursive;
    text-transform: uppercase;
    text-decoration-style: none;
}

h1 {
    font-size: clamp(2.75rem, 3.5vw, 7rem);
    padding-bottom: 15px;
}

h2,
label {
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.7rem, 2vw, 2.4rem);
}

h2 {
    text-transform: lowercase;
    font-weight: 300;
    padding-bottom: 20px;
}

label {
    text-transform: uppercase;
    line-height: 1.6
}



section {
    min-height: 350px;
    padding: 100px 0px;
    p {
        font-size: clamp(2.5rem, 2.3vw, 4rem);
        font-weight: 300;
        line-height: 1.6;
        text-align: center;
    }
}

section:nth-of-type(odd) {
    background-color: $primary;
    color: $light;
    a {
        background-color: $light;
        color: $primary;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 525px;
    img {
        width: 300px;
        margin-right: 30px;
    }
    .headerText {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
    }
    .glow {
        filter: drop-shadow(-5px 10px 10px $secondary);
        transition-duration: .75s;
    }
}

[type=submit],
.nextButtons {
    font-size: clamp(1.5rem, 2vw, 1.8rem);
    width: 200px;
    border-radius: 5px;
    padding: 15px;
    background-color: $primary;
    color: #fff;
    text-decoration: none;
    text-align: center;
    box-shadow: 5px 5px $secondary;
}

label,
[type=submit],
a {
    &:hover {
        // from emojicursor.app* - Made by Kyle Kelly
        cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥟</text></svg>") 16 0,auto;
    }
}

input,
label,
.nextButtons,
[type=submit],
[type=radio] + label,
a {
    border: 3px solid transparent;
    &:hover {
        transform: scale(1.1);
    }
    &:focus {
        border: 3px solid $accent;
        outline: none;
    }
}



.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    div {
        padding: 20px;
    }
}

.checkContainer {
    display: flex;
    align-items: center;
}

.errorMessage {
    display: none;
    color: $accent;
}

.results {
    display: none;
    padding: 100px 0px;
}

.countries {
    padding: 0px 0px 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .countriesFlex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30px;
        max-width: 600px;
        margin: 0 auto;
    }
    label {
        padding: 15px 30px;
        margin: 10px;
        border-radius: 5px;
        padding: 15px 30px;
        background-color: $secondary;
        color: $primary;
        text-align: center;
    }
    input {
        opacity: 0;
        &:checked + label,
        &:focus + label {
            background: $dark;
        }
    }   
}

.finalDumpling {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    transition-duration: fade-in 2s;
    a {
        font-size: clamp(4rem, 5vw, 5rem);
        text-shadow: 3px 3px $dark;
        text-decoration: none;
        background: linear-gradient(to top, $secondary 50%, white 50%);
        padding: 0px 0px;
        width: 100%;
        display: block;
        word-break: break-word;
        border: 0;
        animation: fadeIn ease-in 2s;
        &:focus {
            border: 3px solid $accent;
            outline: none;
        }
    }
    .finalIntro {
        font-size: clamp(1.6rem, 2vw, 2.5rem);
        color: $dark;
    }
    @keyframes fadeIn {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }
    
}

.tryAgain {
    p {
        a {
            font-size: clamp(1.5rem, 1.5vw, 1.5rem);
            color: $dark;
            text-shadow: none;
            text-decoration: none;
            box-shadow: 3px 3px 0px $secondary;
            border-radius: 5px;
            padding: 5px 10px;
            margin-top: 40px;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
}

.imageResultContainer {
    display: flex;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    img {
        width: 200px;
        margin: 30px 30px 30px 0px;
    }
}

.addBg {
    border: 3px solid $secondary;
    background-color: $light;
    border-radius: 15px;
    padding: 15px 25px;
    color: $primary;
}

footer {
    display: flex;
    min-height: 40px;
    padding-bottom: 10px;
    background-color: $dark;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    a,
    p {
        font-size: 1.2rem;
        color: $secondary;
    }
}
