@media (max-width: 1125px) {

    .resultContainer {
        flex-direction: column;
        width: 100%;
    }

    

    .countries {
        margin: 0px 0px 30px;
       
        .countriesFlex {
            // flex-direction: column;
            padding-top: 0px;
            width: 100%;
            text-align: center;
            label {
                width: 100%;
            }
        }
    }
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        img {
            margin-right: 0px;
            margin-bottom: 30px;
        }
        .headerText {
            text-align: center;
        }
        a {
            align-self: center;
        }
    }

    .checkContainer {
        flex-direction: column;
        align-items: center;
    }

    .filter {
        text-align: center;
    }

    .countries {
        padding-bottom: 40px;
    }

    .imageResultContainer {
        flex-direction: column;
        img {
            margin: 20px 0px 20px;
        }
    }
    .finalDumpling {
        margin-bottom: 30px;

    }

    .bottomButton {
        flex-direction: column;
    }
}