$dumplingBrown: #a48c63;
$dumplingBeige: #f4e6b7;
$dumplingRed: #eb6f5d;

@import "setup";
@import "mediaQueries";



// general styles

html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

input {
    border: 0;
}

.wrapper {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
}

h1,
p,
a,
[type=submit] {
    font-family: 'McLaren', cursive;
    text-transform: uppercase;
    text-decoration-style: none;
}

h1 {
    font-size: clamp(2.75rem, 3.5vw, 7rem);
    padding-bottom: 15px;
}

h2,
form {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: clamp(1.6rem, 2vw, 3rem);
    text-transform: lowercase;
    font-weight: 300;
    padding-bottom: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    img {
        width: 275px;
    }
    .headerText {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        flex-shrink: 1;
    }
}

[type=submit],
a {
    font-size: clamp(1.5rem, 2vw, 1.8rem);
    width: 200px;
    padding: 15px;
    background-color: $dumplingBrown;
    color: #fff;
    text-decoration: none;
    text-align: center;
    box-shadow: 5px 5px $dumplingBeige;
}

label,
[type=submit],
a {
    &:hover {
        // from emojicursor.app* - Made by Kyle Kelly
        cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥟</text></svg>") 16 0,auto;
    }
}

label,
input,
[type=submit],
a {
    &:hover {
        transform: scale(1.2);
    }
    &:focus {
        outline: 3px solid $dumplingRed;
    }
}

section:nth-of-type(odd) {
    background-color: $dumplingBrown;
    color: #fff;
    a {
        background-color: #fff;
        color: $dumplingBrown;
    }
}

.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    div {
        padding: 20px;
    }
}

form {
    font-size: clamp(1.9rem, 2vw, 2.5rem);
    text-transform: uppercase;
    p {
        font-size: clamp(2.2rem, 2.3vw, 3rem);
        font-weight: 300;
        text-align: center;
    }
}

.checkContainer {
    display: flex;
}

.errorMessage {
    display: none;
    color: $dumplingRed;
}



